 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Usuarios</title>
</head>

<body>
    <h2>Lista de Usuarios</h2>
    <a th:href="@{/usuarios/nuevo}">Nuevo Usuario</a>
    <br><br>
    <table>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="u : ${usuarios}">
            <td th:text="${u.idUsuario}"></td>
            <td th:text="${u.nombre}"></td>
            <td th:text="${u.email}"></td>
            <td>
                <a th:href="@{'/usuarios/editar/' + ${u.idUsuario}}">Editar</a>
                <a th:href="@{'/usuarios/eliminar/' + ${u.idUsuario}}">Eliminar</a>
            </td>
        </tr>
    </table>

    <br>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Cerrar sesión</button>
    </form>

</body>

</html>
